{{template "header.html"}}
{{if .User}}
{{template "navbar.html" .}}
{{end}}

    <div class="container">
      <br />
      <div class="row justify-content-center">
	<h1>Error 404</h1>
      </div>
      <div class="row justify-content-center">
	<p>La pagina que buscas no existe.</p>
      </div>
    </div>

{{template "footer.html"}}
