{{template "header.html"}}
{{if .User}}
{{template "navbar.html" .}}
{{end}}

    <div class="container">
      <br />
      <div class="row justify-content-center">
	<h1>Error 500</h1>
      </div>
      <div class="row justify-content-center">
	  <p>Ha ocurrido un error interno en el servidor, prueva de nuevo mas tarde.</p>
      </div>
    </div>

{{template "footer.html"}}
