{{template "header.html"}}
{{template "navbar.html" .}}

    <div class="container">
      <br />
      <h1 class="row justify-content-center">Crear usuaria</h1>

      <br />

      <div class="row justify-content-center">
        <form class="col-4" action="/adduser/" method="post">
          <div class="form-group">
            <label for="name">Nombre de usuaria:</label>
            <input type="text" class="form-control {{if eq .Data "exsist" "empty"}}is-invalid{{end}}" id="name" name="name" placeholder="Nombre">
               {{if eq .Data "exsist"}}<div class="invalid-feedback">La usuaria ya existe.</div>{{end}}
               {{if eq .Data "empty"}}<div class="invalid-feedback">Ni el nombre de usuaria ni la password pueden estar vacias.</div>{{end}}
          </div>
          <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" class="form-control {{if eq .Data "empty"}}is-invalid{{end}}" id="password" name="password" placeholder="Contraseña">
               {{if eq .Data "empty"}}<div class="invalid-feedback">Ni el nombre de usuaria ni la password pueden estar vacias.</div>{{end}}
          </div>
          <button type="submit" class="btn btn-primary">Crear</button>
        </form>
      </div>
    </div>

{{template "footer.html"}}
