<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img src="/img/sd_nb.svg" width="30" height="30" /> lowry</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
	<a class="nav-link" href="/users/{{.User}}">{{.User}}</a>
      </li>
      <li class="nav-item {{if eq .Section "password"}}active{{end}}">
        <a class="nav-link" href="/password/">Contraseña</a>
      </li>
    </ul>
    {{if .IsAdmin}}
    <ul class="navbar-nav ml-mr-auto">
      <li class="nav-item {{if eq .Section "adduser"}}active{{end}}">
        <a class="nav-link" href="/adduser/">Crear usuaria</a>
      </li>
      <li class="nav-item {{if eq .Section "user" "users"}}active{{end}}">
        <a class="nav-link" href="/users/">Usuarias</a>
      </li>
      <li class="nav-item {{if eq .Section "group" "groups"}}active{{end}}">
        <a class="nav-link" href="/groups/">Grupos</a>
      </li>
    </ul>
    {{end}}

    <form class="form-inline my-2 my-lg-0" action="/logout/" method="post">
      <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Salir</button>
    </form>
  </div>
</nav>

<div class="alert alert-warning" role="alert">
  Estamos en un proceso de migracion de servidor. Los cambios efectuados en lowry solo afectarán a los servicios ya migrados. Por ejemplo el cambio de contraseña funcionara en chat.sindominio.net pero no en el correo, hasta que terminemos de migrarlo.
</div>
