{{template "header.html"}}
{{template "navbar.html" .}}

<table class="table">
	<thead>
		<tr>
			<th scope="col">Nombre</th>
			<th scope="col">Shell</th>
			<th scope="col">Home</th>
			<th scope="col">Mail</th>
			<th scope="col">Login</th>
			<th scope="col">UID</th>
			<th scope="col">GID</th>
		</tr>
	</thead>
	<tbody>
		{{range .Data}}
		<tr {{if ne .Shell "/bin/false"}}class="table-success"{{end}}>
			<th scope="row"><a href="/users/{{.Name}}">{{.Name}}</a></th>
			<td>{{.Shell}}</td>
			<td>{{.Home}}</td>
			<td>{{.Mail}}</td>
			<td>{{.LastLogin}}</td>
			<td>{{.UID}}</td>
			<td>{{.GID}}</td>
		</tr>
		{{end}}
	</tbody>
</table>

{{template "footer.html"}}
