{{template "header.html"}}
{{template "navbar.html" .}}

{{$isAdmin := .IsAdmin}}
{{with .Data}}
<div class="row justify-content-center">
    <dl>
        <dt>Nombre</dt><dd>{{.User.Name}}</dd>
        <dt>Shell</dt><dd>{{.User.Shell}}</dd>
        <dt>Home</dt><dd>{{.User.Home}}</dd>
        <dt>Mail</dt><dd>{{.User.Mail}}</dd>
	{{if .Groups}}
        <dt>Grupos</dt><dd>
	    {{range .Groups}}
	    <a href="/groups/{{.Name}}">{{.Name}}</a>,
	    {{end}}
	</dd>
	{{end}}
        <dt>Ultimo login</dt><dd>{{.User.LastLogin}}</dd>
        <dt>UID</dt><dd>{{.User.UID}}</dd>
	{{with .MainGroup}}
	<dt>GID</dt><dd><a href="/groups/{{.Name}}">{{.Name}} ({{.GID}})</a></dd>
	{{end}}
    </dl>
</div>

  {{if $isAdmin}}
      <br />
      <div class="row justify-content-center">
	 <form action="/users/{{.User.Name}}/password/" method="post">
          <div class="row">
          <div class="col">
            <label for="password">Cambia la contraseña:</label>
	  </div>
          <div class="col">
            <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
	  </div>
          <div class="col">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
          </div>
        </form>
      </div>
      <div class="row justify-content-center">
	<form action="/users/{{.User.Name}}/shell/" method="post">
          <div class="row">
          <div class="col">
            <label for="password">Cambia la shell:</label>
	  </div>
          <div class="col">
            <input type="text" class="form-control" id="shell" name="shell" placeholder="Shell">
	  </div>
          <div class="col">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
          </div>
        </form>
      </div>
  {{end}}
{{end}}

{{template "footer.html"}}
